:root {
}













.Back_VisualElement {
    width: 10%;
    height: 20%;
}

.BackButton_Background {
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-top-left-radius: 256px;
    border-top-right-radius: 256px;
    border-bottom-right-radius: 256px;
    border-bottom-left-radius: 256px;
    border-left-color: rgb(0, 255, 255);
    border-right-color: rgb(0, 255, 255);
    border-top-color: rgb(0, 255, 255);
    border-bottom-color: rgb(0, 255, 255);
    background-color: rgba(0, 255, 255, 0.2);
}

.BackButton_Foreground {
    background-image: url("project://database/Assets/App/Sprites/Icons/Picto_Icons/White/LeftArrow-256.png?fileID=2800000&guid=6740d81fea070b54a9390cc6a99bcc75&type=3#LeftArrow-256");
}
